#why{
    padding: 50px 0;

    .title{
        p{
            color: #7E92AC;
            padding: 0 340px;
        }
    }

    .box{

        background-color:white;
        padding: 55px 55px ;
        border-radius:10px;
        @include transition(.5s);
        cursor:pointer;
        &:hover{
            box-shadow: 0px 0px 42px -10px rgba(0,0,0,0.25);
            @include transition(.5s)
        }

        .icon{


            span{
                font-size: 35px;
                border-radius:10px;
                padding: 5px 10px;
            }
        }

        .txt{


            p{
                color: #7E92AC;
                
            }
        }
    }
    
}



@media only screen and (max-width: 576px){
    #why{

        .slick-slide{
            &:focus{
                outline: 0;
            }
        }

        .box{
            padding: 30px 30px;
            
        }
        .title{
            p{
                
                padding: 0;
            }
        }

        .slick-dots {bottom: -50px;}
  

        .slick-dots li.slick-active button:before {
            opacity: .75;
            color: #6736F9;
        }
    
        .slick-dots li button {
    
            &:before {
               
                font-size: 10px;
                color: #a0c3fa;
                @include transition(.3s);
                &:hover{
                    color: #6736F9!important;
                    @include transition(.3s)
                }
            }
        }
        
    }

    
    

   

}